/* Contenedor principal */
div > .tabs + .tab-content,
.tabs {
    width: 100%;
    margin: 0 auto;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.tab {
    padding: 12px 24px;
    background-color: var(--bg-300);
    border-radius: 8px 8px 0 0;
    border: none;
    border-bottom: none;
    transition: background 0.3s, color 0.3s;
    color: var(--text-200);
}

.tab:hover {
    background-color: var(--bg-200);
    border-bottom: 2px solid var(--primary-300);
}

.tab.active {
    background-color: var(--bg-100);
    border: 1px solid transparent;
    font-weight: bold;
}

/* Contenido de pestañas */
.tab-content {
    display: none;
    background: var(--bg-100);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.tab-content.active {
    display: block;
}

.tab-content form {
    max-width: 400px;
    margin: 0 auto;
}

input, select {
    margin-bottom: 15px;
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.search-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
}

.dropdown-container {
  position: relative;
}

#filterToggle {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--primary-300);
  background-color: var(--bg-200);
  cursor: pointer;
}

.filter-options {
    width: 175px;
  display: none;
  position: absolute;
  left: 0;
  top: 35px;
  background-color: var(--bg-200);
  border: 1px solid var(--primary-300);
  padding: 0.5rem;
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-md);
  z-index: 10;
}

.filter-options label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.95rem;
}

dialog#confirmacion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centra el diálogo completamente */ 
    padding: 20px;
    border: none;
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-md);
    max-width: 400px;
    text-align: center;
    font-size: 16px;
    background-color: var(--bg-100); /* asegúrate de definir un fondo visible */
    z-index: 1000; /* por si se solapa con otros elementos */
}

.alert-error-uspas {
    color: var(--error);
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}
