/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #d0eaff, #f0f8ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor del formulario */
.login-container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

/* Título */
.login-container h2 {
    color: #007bff;
    margin-bottom: 20px;
}

/* Campos de entrada */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-weight: bold;
    color: #0056b3;
}

.input-group input {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #b0d4ff;
    border-radius: 8px;
    background: #f8fbff;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #007bff;
}

/* Botón de login */
.login-button {
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 95%;
    font-size: 16px;
    transition: 0.3s;
}

.login-button:hover {
    background: #0056b3;
}

.alert-error-login {
    background: #a02d07;
    color: white;
    padding: 10px;
    margin: 5px 0 5px 0;
    border-radius: 8px;
    width: 95%;
    font-size: 18px;
    font-weight: bold;
}

.alert-error-uspas {
    color: #a02d07;
    padding: 10px;
    border: none;
    font-size: 16px;
}