form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

input[type="text"] {
    padding: 0.5rem 1rem;
    width: 300px;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  position: relative;
  margin-bottom: 0.5rem;
}

.dropdown-container {
  position: relative;
}

#filterToggle {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--primary-300);
    background-color: var(--bg-200);
    cursor: pointer;
}

.filter-options {
    width: 175px;
    display: none;
    position: absolute;
    right: 0px;
    top: 35px;
    background-color: var(--bg-200);
    border: 1px solid var(--primary-300);
    padding: 0.5rem;
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-md);
    z-index: 10;
}

.filter-options label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.95rem;
}
